*{
    margin:0;
    padding:0;
    --primary-color: #1D2B53;
    --secondary-bg:#1a1a1a;
    --secondary-color: #7E2553;
    --hightlights-color:#FF004D;
    --highlights-color2: #FAEF5D;
    --title-font: 'Montserrat', 'Reboto';
    --main-font: 'Roboto', sans-serif;
    --logo-font:'Russo One';
    --auxBack-color: white;
    --aux-color:#FFA8C2;
    /* background-color: var(--primary-color); */ /* deberiamos cambiar esto por un tema de especificidad, a veces puede molestar */
}

.red-hightlight{
    color: var(--hightlights-color);
}


.headerContainer{
    display:flex;
    width: 100%;
    height: 120px;
    background-color:var(--hightlights-color);
    object-fit: contain;
}
.navContainer{

    display: flex;
    height: 50px;
    background-color: var(--auxBack-color);
    
}
#ulMenu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--auxBack-color);
    list-style: none;
}
.liMenu{
    align-items: center;
    color: var(--primary-color);
    background-color: var(--auxBack-color);
    font-family: var(--title-font);
    margin-left: 30px;
    
}
#logoLuna{
    width: 20px;
    height: 20px;
    margin-left: 30px;
    background-color: var(--auxBack-color);
}
.imgLuna{
    background-color: var(--auxBack-color);
}
.imgLogo{
    object-fit: contain;
    width: 100%;
    height: 120px;
}

/* navv2, aca estan todos los estilos del nav 2 */
.nav-container{
    height: 50px;
    background-color: var(--hightlights-color);
}
.rapsodia-logo-container{
    width: 350px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.rapsodia-logo-container img{
    width: 40px;
}
.rapsodia-logo{
    font-family: var(--logo-font);
    color: var(--auxBack-color);
}


/* Biblioteca,
aca añadi un color que me parecio que puede quedar mas serio,
que es el nefro casi gris este
*/

.biblioteca-section{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg);
}

.main-bliblioteca-wrapper{
    width: 70%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;/* la propiedad gap sirve en flex y grid, sirve para dar espacio entre los hijos del padre que tiene el layout */
    padding: 22px;
    box-sizing: border-box;/* esto es para que al darle padding al contenedor de todo, no se agrande, sino que a partir del tamaño definido haga el padding sin modificar el tamaño */
}

.left-grid-container{
    width: 38%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
}

.vinil-item{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    overflow: hidden; /* esto sirve para que si las imagenes se desbordan del contenedor de la imagen, se adapte al contenedor, esto sirve para que en la imagen se vea el border radius, de otra forma no se ve */
}

.vinil-item img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* centra la imagen en el contenedor */
}

.right-info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    justify-content: start;
}

.right-info-title{
    font-size: 34px;
    color: var(--auxBack-color);
    font-family: var(--title-font);
}

.right-info-description{
    font-size: 18px;
    text-align: justify;
    color: var(--auxBack-color);
}

/* nada mas, anashe */

