* {
    margin: 0;
    padding: 0;
    --primary-color: #1D2B53;
    --secondary-bg: #1a1a1a;
    --secondary-color: #7E2553;
    --hightlights-color: #FF004D;
    --highlights-color2: #FAEF5D;
    --title-font: 'Montserrat', 'Reboto';
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Russo One';
    --auxBack-color: white;
    /* rgb(240, 231, 231);*/
    --aux-color: #FFA8C2;
}

body{

    background-color: var(--secondary-bg);
}

.red-hightlight {
    color: var(--hightlights-color);
}

.yellow-highlight {
    color: var(--highlights-color2);
}

/*CONTAINER ENCABEZADO*/
.headerContainer {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--hightlights-color);
    object-fit: contain;
    justify-content: space-between;
    align-items: center;

}

.navContainer {

    display: flex;
    height: 50px;
    background-color: var(--auxBack-color);

}

#divRapLogo {
    background-color: var(--hightlights-color);
    height: 50px;
    align-items: self-end;
}

#aLogo {
    background-color: var(--hightlights-color);
    text-decoration: none;
}

.imgLogo {
    width: 100%;
    height: 46px;
    background-color: var(--hightlights-color);
}

/*CONTAINER NAV*/

a {
    text-decoration: none;
    color: var(--secondary-bg);
    transition: 0.5s ease;
}

a:hover {
    font-weight: bold;

}

.navContainer {

    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--auxBack-color);
    margin-bottom: 10px;
}

#ulMenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--auxBack-color);
    list-style: none;
}

.liMenu {
    align-items: center;
    color: var(--primary-color);
    background-color: var(--auxBack-color);
    font-family: var(--title-font);
    margin-left: 10px;
    margin-right: 20px;

}

#logoLuna {
    height: 50px;
    object-fit: contain;
    align-self: flex-end;
    background-color: var(--auxBack-color);
}

.imgLuna {

    background-color: var(--auxBack-color);
}

/*SECCION PRINCIPAL*/

.sectionPrincipal {
    background-color: var(--secondary-bg);
    height: calc(100vh - 335px);
    width: 100%;
    /* padding: 20px; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

/*TITULO Y DESCRIPCION*/
.divContainer_tit_desc {
    display: block;
    background: var(--auxBack-color);
    width: 38%;
    height: 260px;
    padding: 18px;
    border-radius: 8px;
}

#divDescripcion {
    margin-top: 15px;

}

.imgTitulo {
    margin-top: 10px;
    height: 80px;
    width: 300px;
    justify-content: center;
}

.section-title {
    font-family: var(--title-font);
    color: var(--secondary-bg);
    font-size: 28px;

}   

.ts {
    height: auto;
    width: 30%;
}

.indio {
    height: auto;
    width: 30%;
}

/* navv2, aca estan todos los estilos del nav 2 */
.nav-container {
    height: 50px;
    background-color: var(--hightlights-color);
}

.rapsodia-logo-container {
    width: 350px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.rapsodia-logo-container img {
    width: 40px;
}

.rapsodia-logo {
    font-family: var(--logo-font);
    color: var(--auxBack-color);
}

/* Biblioteca,
aca añadi un color que me parecio que puede quedar mas serio,
que es el nefro casi gris este
*/

.biblioteca-section {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg);
}

.main-bliblioteca-wrapper {
    width: 70%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* la propiedad gap sirve en flex y grid, sirve para dar espacio entre los hijos del padre que tiene el layout */
    padding: 22px;
    box-sizing: border-box;
    /* esto es para que al darle padding al contenedor de todo, no se agrande, sino que a partir del tamaño definido haga el padding sin modificar el tamaño */
}

.left-grid-container {
    width: 38%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
}

.vinil-item {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    overflow: hidden;
    /* esto sirve para que si las imagenes se desbordan del contenedor de la imagen, se adapte al contenedor, esto sirve para que en la imagen se vea el border radius, de otra forma no se ve */
}

.vinil-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* centra la imagen en el contenedor */
}

.right-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    justify-content: start;
}

.right-info-title {
    font-size: 34px;
    color: var(--auxBack-color);
    font-family: var(--title-font);
}

.right-info-description {
    font-size: 18px;
    text-align: justify;
    color: var(--auxBack-color);
}

/* nada mas, anashe */

/* Carrousel section */

.gal-section {
    margin-top: 100px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gal-section-title {
    font-family: var(--title-font);
    color: var(--auxBack-color);
    font-size: 42px;

}

.g-flex-container {
    display: flex;
    padding: 45px;
    flex-wrap: wrap;
}

.columna {
    flex: 30%;
    padding: 5px;
}

.columna img {
    width: 100%;
    margin-top: 5px;
}


/*CSS PARA LA PAGINA DE LISTAS*/
.listas-section{
    display:flex;
    width: 100%;
    justify-content: center;
}
.lista-grid-container{
    background-color: white;
    width: 80%;
    height: 400px;
    max-width: 1200px;
    outline: coral 4px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    gap:5px;
    
}
.opcioneslista{
    margin:5px;
    text-align: center;
    font-size: 1.5rem;
    color: yellowgreen;
    font-weight: bold;
}

.opcioneslista img{
    margin-top:4px;
    width:80%;
    height:auto;

}

.lista-div-op1{
    background-color: #1D2B53;  
}
.lista-div-op2{
    background-color: #7E2553;
}
.lista-div-op3{
    background-color: #FAEF5D;
}
.lista-div-op4{
    background-color: #FF004D;
}
.lista-div-op5{
    background-color: #FFA8C2;
}

@media (min-width: 514px) and (max-width: 600px) {
    .columna {
        flex: 100%;
    }
    .lista-grid-container{  
        width: 90%;
        height: auto;
        grid-template-columns: 1fr 1fr;
        
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .lista-grid-container{  
        width: 90%;
        height: 1200px;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}
@media (min-width: 600px) and (max-width: 800px) {
    
    .columna {
        flex: 48%;
    }
    .sectionPrincipal { 
        flex-direction: column;
        align-items: center;
        margin-bottom: 400px;
        width: 100%;
        height: 500px;
    }

    .divContainer_tit_desc {
        width: 60%;
        
    }

    .ts,
    .indio {
        width: 65%;
        height: auto;
        max-width: 100%;
    }
    
}

/* estilos artistas */

.main-wrapper{
    display: flex;
    width: 100%;
    height: 100vh;


}

.a-left-info {
    position: relative;
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.bg-img-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-description {
    position: absolute;
    top: 30px;
    left: 60%;
    color: var(--auxBack-color);
    z-index: 1;
    text-align: start;
    padding: 20px;
    box-sizing: border-box;
}

.artist-name {
    font-size: 52px;
    font-family: var(--title-font);
}

.artist-desciption {
    font-size: 20px;
    margin: 10px 0;
    font-family: var(--main-font);
}

.explore-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#dk-btn{
    background-color: #E26001;
}
#dk-btn:hover {
    background-color: #ff6a00;
}
#ts-btn{
    background-color: #C3436E;
}
#ts-btn:hover{
    background-color: #f05186;
}
#or-btn{
    background-color: #504C86;
}
#or-btn:hover{
    background-color: #615ca1;
}
#dil-btn{
    background-color: black;
}
#dil-btn:hover{
    background-color: white;
    color: black;
}


.a-right-info{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondary-bg);
}

.cd-link img{
    width: 300px;
    height: 300px;
}

.cd-card{
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    width: 400px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.artist-last{
    font-size: 40px;
    font-family: var(--main-font);
    color: var(--auxBack-color);
}

.cd-title{
    font-size: 30px;
    font-family: var(--title-font);
    color: var(--auxBack-color);
    text-align: center;
}

.cd-description{
    text-align: start;
    font-family: var(--main-font);
    color: rgb(156, 156, 156);
    font-size: 16px;
}
