* {
    margin: 0;
    padding: 0;
    --primary-color: #1D2B53;
    --secondary-bg: #1a1a1a;
    --secondary-color: #7E2553;
    --hightlights-color: #FF004D;
    --highlights-color2: #FAEF5D;
    --title-font: 'Montserrat', 'Reboto';
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Russo One';
    --auxBack-color: white;
    /* rgb(240, 231, 231);*/
    --aux-color: #FFA8C2;
}

body{

    background-color: var(--secondary-bg);
}

.red-hightlight {
    color: var(--hightlights-color);
}

.yellow-highlight {
    color: var(--highlights-color2);
}

/*CONTAINER ENCABEZADO*/
.headerContainer {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--secondary-bg);
    object-fit: contain;
    align-items: center;
}
.imgLogo {
    width: 100%;
    height: 46px;
}

.navContainer {
    width: 100%;
    height: 50px;
    margin-bottom: 12px;
}

.ulMenu{
    width: 100%;
    height: 50px;
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: center;
}

.ulMenu a{
    text-decoration: none;
}

  

.liMenu{
    list-style: none;
    color: white;
    font-family: var(--title-font);
    letter-spacing: 2px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.liMenu:hover{
    color: var(--hightlights-color);
}


/* v2nav */

.nav-wrapper{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}
.logo-container{
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
}
.logo-container img{
    width: 180px;
}
.li-wrap{
    display: flex;
    gap: 36px;
    justify-content: end;
    margin-right: 28px;
}
.li-wrap a{
    text-decoration: none;
}

.right-nav-list{
    width: 70%;

}
.item-li{
    color: white;
    list-style: none;
    font-family: var(--title-font);
    font-size: 18px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    letter-spacing: 2px;
    font-weight: bold;
}

.item-li:hover{
    color: var(--hightlights-color);
}


/*SECCION PRINCIPAL*/

.sectionPrincipal {
    background-color: var(--secondary-bg);
    height: calc(100vh - 335px);
    width: 100%;
    /* padding: 20px; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

/*TITULO Y DESCRIPCION*/
.divContainer_tit_desc {
    display: block;
    background: var(--auxBack-color);
    width: 38%;
    height: 260px;
    padding: 18px;
    border-radius: 8px;
}

#divDescripcion {
    margin-top: 15px;

}

.imgTitulo {
    margin-top: 10px;
    height: 80px;
    width: 300px;
    justify-content: center;
}

.section-title {
    font-family: var(--title-font);
    color: var(--secondary-bg);
    font-size: 28px;

}   

.ts {
    height: auto;
    width: 30%;
}

.indio {
    height: auto;
    width: 30%;
}

/* navv2, aca estan todos los estilos del nav 2 */
.nav-container {
    height: 50px;
    background-color: var(--hightlights-color);
}

.rapsodia-logo-container {
    width: 350px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.rapsodia-logo-container img {
    width: 40px;
}

.rapsodia-logo {
    font-family: var(--logo-font);
    color: var(--auxBack-color);
}

/* Biblioteca,*/

.biblioteca-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}
.component{
    width: 60%;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    opacity: 0; 
    transform: translateX(-100%); /* se van los componentes hacia afuera izq */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.component.animate {
    opacity: 1; 
    transform: translateX(0); /* vuelven a donde tienen que estar */
}


.component img{
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.2);
}

.component:hover{
    scale: 1.05;
}

.left-component-container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
}

.cd-com-title{
    max-width: 400px;
    font-size: 36px;
    font-family: var(--title-font);
    color: var(--auxBack-color);
    letter-spacing: 6px;
    text-wrap: wrap;
}
.cd-autor{
    font-family: var(--main-font);
    font-size: 20px;
    color: var(--auxBack-color);
    font-weight: bold;
}

.right-component-container{
    width: 50%;
    height: 100%;
    display: flex;
    margin-left: 140px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.component-description{
    color: var(--auxBack-color);
    font-family: var(--main-font);
    letter-spacing: 2px;

}

.landing {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-content {
    text-align: center;
    color: white;
    padding: 20px;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.landing-title {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: var(--title-font);
}

.landing-description {
    font-size: 18px;
    margin-bottom: 30px;
    font-family: var(--main-font);
}

.landing-button {
    width: 150px;
    padding: 16px;
    box-sizing: border-box;
    font-size: 18px;
    color: white;
    font-family: var(--title-font);
    background: linear-gradient(to right, #1D2B53, #FF004D);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.landing-button:hover {
    background: linear-gradient(to right, #2a3f78, #ff2c6c);
}

/* nada mas, anashe */

/* Carrousel section */

.gal-section {
    margin-top: 100px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gal-section-title {
    font-family: var(--title-font);
    color: var(--auxBack-color);
    font-size: 42px;

}

.g-flex-container {
    display: flex;
    padding: 45px;
    flex-wrap: wrap;
}

.columna {
    flex: 30%;
    padding: 5px;
}

.columna img {
    width: 100%;
    margin-top: 5px;
}


/*CSS PARA LA PAGINA DE LISTAS*/
.listas-section{
    display:flex;
    width: 100%;
    justify-content: center;
}
.lista-grid-container{
    background-color: white;
    width: 80%;
    height: 400px;
    max-width: 1200px;
    outline: coral 4px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    gap:5px;
    
}
.opcioneslista{
    margin:5px;
    text-align: center;
    font-size: 1.5rem;
    color: yellowgreen;
    font-weight: bold;
}

.opcioneslista img{
    margin-top:4px;
    width:80%;
    height:auto;

}

.lista-div-op1{
    background-color: #1D2B53;  
}
.lista-div-op2{
    background-color: #7E2553;
}
.lista-div-op3{
    background-color: #FAEF5D;
}
.lista-div-op4{
    background-color: #FF004D;
}
.lista-div-op5{
    background-color: #FFA8C2;
}

@media (min-width: 514px) and (max-width: 600px) {
    .columna {
        flex: 100%;
    }
    .lista-grid-container{  
        width: 90%;
        height: auto;
        grid-template-columns: 1fr 1fr;
        
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .lista-grid-container{  
        width: 90%;
        height: 1200px;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}
@media (min-width: 600px) and (max-width: 800px) {
    
    .columna {
        flex: 48%;
    }
    .sectionPrincipal { 
        flex-direction: column;
        align-items: center;
        margin-bottom: 400px;
        width: 100%;
        height: 500px;
    }

    .divContainer_tit_desc {
        width: 60%;
        
    }

    .ts,
    .indio {
        width: 65%;
        height: auto;
        max-width: 100%;
    }
    
}

/* estilos artistas */

.main-wrapper{
    display: flex;
    width: 100%;
    height: 100vh;


}

.a-left-info {
    position: relative;
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.bg-img-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-description {
    position: absolute;
    top: 30px;
    left: 60%;
    color: var(--auxBack-color);
    z-index: 1;
    text-align: start;
    padding: 20px;
    box-sizing: border-box;
}

.artist-name {
    font-size: 52px;
    font-family: var(--title-font);
}

.artist-desciption {
    font-size: 20px;
    margin: 10px 0;
    font-family: var(--main-font);
}

.explore-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#dk-btn{
    background-color: #E26001;
}
#dk-btn:hover {
    background-color: #ff6a00;
}
#ts-btn{
    background-color: #C3436E;
}
#ts-btn:hover{
    background-color: #f05186;
}
#or-btn{
    background-color: #504C86;
}
#or-btn:hover{
    background-color: #615ca1;
}
#dil-btn{
    background-color: black;
}
#dil-btn:hover{
    background-color: white;
    color: black;
}


.a-right-info{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondary-bg);
}

.cd-link img{
    width: 300px;
    height: 300px;
}

.cd-card{
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    width: 400px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.artist-last{
    font-size: 40px;
    font-family: var(--main-font);
    color: var(--auxBack-color);
}

.cd-title{
    font-size: 30px;
    font-family: var(--title-font);
    color: var(--auxBack-color);
    text-align: center;
}

.cd-description{
    text-align: start;
    font-family: var(--main-font);
    color: rgb(156, 156, 156);
    font-size: 16px;
}
.next-artist-btn {
    position: fixed;
    bottom: 20px;
    left: 95%;
    width: 50px;
    height: 50px;
    background-color: var(--highlights-color);
    color: var(--hightlights-color);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.next-artist-btn:hover {
    background-color: rgba(100,100,100, 0.5);
    color: white;
}

/* Formulario */

.registro-section{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: start;
    justify-content: center;
    background: linear-gradient(to right, #1D2B53, #FF004D);
}

.form-title{
    font-size: 26px;
    font-family: var(--title-font);
}

#formnav{
    background: linear-gradient(to right, #1D2B53, #FF004D);
}


.form-wrapper{
    width: 350px;
    height: 590px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: var(--auxBack-color);
    box-shadow: 3px 3px 3px rgb(255, 255, 255, 0.5 );
}

#form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.form-component{
    width: 100%;
    height: 40px;
}

.form-label{
    display: block;
    font-family: var(--main-font);
    margin-bottom: 8px;
}

.form-input{
    width: 100%;
    height: 20px;
    background-color: none;
    border: none;
    padding: 4px 4px 4px 2px;
    border-bottom: 1px solid gray;
    color: var(--primary-color);
    font-size: 18px;
    font-family: var(--title-font);
}

.form-input:focus{
    outline: none;
    border-bottom: 2px solid #FF004D;

}

#subButton{
    width: 170px;
    height: 60px;
    margin: auto;
    border: none;
    color: white;
    font-family: var(--main-font);
    padding: 6px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 6px;
    background: linear-gradient(to right, #1D2B53, #FF004D);
    transition:  0.3s ease-in-out;
}

#subButton:hover{
    scale: 1.3;
    background: linear-gradient(to left, #1D2B53, #FF004D);
}

.errorInput{border: 2px solid;
    border-color:red;
    
}

#errosContainer{
    width: 100%;
    height: 140px;
    text-align: start;
    font-family: var(--main-font);
    color: red;
}